

<div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <button routerLink="importdata"
            class="m-1 btn btn-light btn-otline-primary" Button>Import Data</button>
      </div>
      <div class="col-3 ">
          <button routerLink="createnewcompany"
          class="m-1 btn btn-light btn-otline-primary" Button>Manage Company</button>
      </div>
      <div class="col-3 ">
        <button routerLink="#"
        class="m-1 btn btn-light btn-otline-primary" Button>Manage Exchange</button>   
    </div>
      <div class="col-3 ">
       <button routerLink="#"
       class="m-1 btn btn-light btn-otline-primary" Button>Update IPO details</button>
    </div>
    </div>
  </div> 
