<!-- <main class="form-signin">
  <form>
    <img class="mb-4" src="https://images.all-free-download.com/images/graphiclarge/daisy_pollen_flower_220533.jpg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

  </form>
</main>  -->

<!--<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form >
      <mat-card-content>
        <mat-form-field >
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field >
          <input matInput placeholder="Password">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Log in</button>
    </form>
  </mat-card>

</div> -->
 
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">  

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header> 

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Password">
        </mat-form-field>
      </mat-card-content>

      <button routerLink="adminlandingpage"
      class="m-1 btn btn-light btn-otline-primary" Button>Log in</button>   
    </form>
  </mat-card>

</div>
