<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
   
          <a class="navbar-brand" href="#">
            <img src="https://images.all-free-download.com/images/graphiclarge/daisy_pollen_flower_220533.jpg" width="100" height="30" alt="SocGen logo">
          </a>
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      <div class="btn-block float-right">
        <button routerLink="login"
        type="submit" class="m-1 btn btn-light btn-otline-primary float-right " Button>Logout</button>
        <!-- <button type="submit" class="btn btn-primary btn-lg float-right" >Logout</button> -->
      </div>
    </div>
  </nav>
