<app-navbar></app-navbar>


<div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <button type="button" class="btn btn-link">IPOs</button>
      </div>
      <div class="col-3 ">
        <button type="button" class="btn btn-link">Compare company</button>
      </div>
      <div class="col-3 ">
        <button type="button" class="btn btn-link">Compare Sectors</button>    
    </div>
      <div class="col-3 ">
       <!--<a class="btn btn-secondary" href="#" role="button">Link</a> -->
        <button type="button" href="#" class="btn btn-link">Other</button>
    </div>
    </div>
  </div>